<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Docker Registry</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="styles/jquery.min.js"></script>
  <script type="text/javascript" src="styles/bootstrap.min.js"></script>

</head>

<body>
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="page-header">
        <h1>
  					Docker Registry
          </h1>
      </div>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="/catalog">Catalog</a>
        </li>
        {{if .AccountMgmt}}
        <li>
          <a href="/users">Accounts</a>
        </li>
        {{end}}
      </ul>
      {{with .Data}}
      <h3>{{.Repositories | len}} Repositories</h3> {{$reg := .Registry}} {{range $account, $repos := .Repositories}}
      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="panel-master-{{$account}}">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-master-{{$account}}" href="#panel-element-{{$account}}">{{$account}} <span class="badge pull-right">{{$repos | len}}</span></a>
              </div>
              <div id="panel-element-{{$account}}" class="panel-collapse collapse">
                <div class="panel-body">
                  {{range $repos}}
                  <p> {{.Name}} ➜ <code>docker pull {{$reg}}/{{.Name}}</code></p>
                  <p>Tags:</p>
                  {{$n := .Name}} {{range .Tags}}
                  <p> - {{.}} ➜ <code>docker pull {{$reg}}/{{$n}}:{{.}}</code></p>
                  {{end}} {{end}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}} {{end}}
    </div>
  </div>
</body>

</html>
